*{
    margin: 0;
    padding:0;
}


.img {
background-image: url("https://raw.githubusercontent.com/tech2etc/Build-and-Deploy-Ecommerce-Website/main/img/banner/b19.jpg");
height: 290px;
background-size: cover;
width: 100% !important;
}

.images{
    background-image: url("https://raw.githubusercontent.com/tech2etc/Build-and-Deploy-Ecommerce-Website/main/img/about/banner.png");
    height: 290px;
    background-size: cover;
    width: 100% !important;
}

h1{
font-size:45px;
color: white ;
line-height:5.9em ;
text-align: center;
}

.segments,.a{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 63px;
}

.seconds{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.first{
margin-top:10px;
}


.one,.two,.three{
border-radius:10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-top:9px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

h2{
font-size:30px;
}

p{
font-size:17px;
color:rgb(115, 109, 109);
}

.first img{
height:713px;
width: 500px;
}

.first iframe{
    height: 519px;
    width:600px;
}






@media (max-width:420px) {
h1{
font-size:38px;
}}

@media (max-width:530px) {
.first img{
height: 479px;
width:345px;
}}

/* map ka responsiveness ajeeb hai */

@media (max-width: 650px){
.first iframe {
    height: 519px;
    width: 360px;
}}    
